
.dario-btn {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	transition: background-color 0.3s;
	cursor: pointer;
}

.dario-btn:hover {
	background-color: purple;
}

.dario-btn span {
	position: absolute;
	display: block;
}

.dario-btn span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: #fff;
	animation: animateSpan1 0.5s linear infinite;
}

.dario-btn span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: #fff;
	animation: animateSpan2 0.5s linear infinite 0.125s;
}

.dario-btn span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: #fff;
	animation: animateSpan3 0.5s linear infinite 0.25s;
}

.dario-btn span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: #fff;
	animation: animateSpan4 0.5s linear infinite 0.375s;
}

@keyframes animateSpan1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}

@keyframes animateSpan2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}

@keyframes animateSpan3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}

@keyframes animateSpan4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}
